# Collect Statistics of all FVAPPS baseline runs in a specific folder

In [21]:
from pathlib import Path
import json
import pandas as pd

ModuleNotFoundError: No module named 'matplotlib'

In [11]:
up = Path("..")
path = up / up / up / "artefacts" / "baselines" / "sonnet" / "train"

In [18]:
metadata_list = []
for folder in path.iterdir():
    if folder.name.startswith("apps_id") and not folder.name.endswith("0023"):
        print(folder.name)
        # Load metadata.json
        with open(folder / "metadata.json", "r") as f:
            metadata = json.load(f)
        
        if "theorem_0_proven" in metadata and metadata["theorem_0_proven"]:
            metadata["theorems_proven"] += 1
        if "theorem_1_proven" in metadata and metadata["theorem_1_proven"]:
            metadata["theorems_proven"] += 1
        metadata_list.append(metadata)

df = pd.DataFrame(metadata_list)

apps_id_4466
apps_id_1233
apps_id_2042
apps_id_2397
apps_id_2112
apps_id_0077
apps_id_4427
apps_id_0256
apps_id_1947
apps_id_2273
apps_id_0121
apps_id_4172
apps_id_2565
apps_id_0716
apps_id_0835
apps_id_1962
apps_id_0282
apps_id_4338
apps_id_4956
apps_id_2459
apps_id_1804
apps_id_4975
apps_id_0828
apps_id_3347
apps_id_3430

In [19]:
df.describe()

,total_attempts_made,total_theorems_plus_defs,total_theorems,defs_attempts,theorems_proven,theorem_0_attempts,theorem_1_attempts,theorem_2_attempts,theorem_3_attempts,theorem_4_attempts,theorem_5_attempts,theorem_6_attempts
count,25.0,25.000000,25.000000,25.00000,25.000000,24.000000,24.000000,23.0,16.0,8.0,2.0,1.0
mean,0.0,6.240000,3.920000,4.84000,0.280000,15.750000,18.500000,0.0,0.0,0.0,0.0,0.0
std,0.0,1.877054,1.382027,5.67656,0.458258,11.191029,10.615821,0.0,0.0,0.0,0.0,NaN
min,0.0,4.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,5.000000,3.000000,1.00000,0.000000,2.500000,9.750000,0.0,0.0,0.0,0.0,0.0
50%,0.0,6.000000,4.000000,3.00000,0.000000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,8.000000,5.000000,6.00000,1.000000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,10.000000,7.000000,25.00000,1.000000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0

In [24]:
# list of number of attempts for theorem 0
print(df["theorem_0_attempts"].tolist())
# list of number of attempts for theorem 1
print(df["theorem_1_attempts"].tolist())

[25.0, 15.0, 25.0, nan, 0.0, 3.0, 0.0, 25.0, 25.0, 25.0, 25.0, 1.0, 25.0, 25.0, 0.0, 25.0, 25.0, 25.0, 0.0, 13.0, 17.0, 25.0, 25.0, 0.0, 4.0]
[25.0, 25.0, 25.0, nan, 0.0, 25.0, 0.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 0.0, 25.0, 9.0, 25.0, 0.0, 10.0, 25.0, 25.0, 25.0, 0.0, 25.0]

In [25]:
# list number of attempts for defs
print(df["defs_attempts"].tolist())

[1, 10, 4, 6, 1, 6, 25, 6, 3, 4, 2, 4, 1, 3, 1, 1, 3, 1, 1, 9, 10, 16, 1, 1, 1]