In [2]:
from pathlib import Path
import json
import pandas as pd

In [3]:
up = Path("..")
artefacts = up / up / up / "artefacts"

In [17]:
# Load all metadata files
files = (artefacts / "baselines" / "sonnet" / "train").glob("apps_id_*/metadata.json")
data = []
for f in files:
    with open(f) as fp:
        metadata = json.load(fp)
        idx = f.parent.name.split("_")[-1]
        metadata["apps_id"] = idx
    data.append(metadata)

df = pd.DataFrame(data).set_index("apps_id")

# repair
theorem_proven_cols = [col for col in df.columns if col.endswith('_proven') and col.startswith('theorem_')]
df['theorems_proven'] = df[theorem_proven_cols].sum(axis=1)

In [18]:
# Find samples with any theorems proven
samples_with_proofs = df[df["theorems_proven"] > 0]

samples_with_proofs

,total_attempts_made,total_theorems_plus_defs,total_theorems,all_defs_proven,defs_attempts,theorems_proven,theorem_0_proven,theorem_0_attempts,theorem_1_proven,theorem_1_attempts,theorem_2_proven,theorem_2_attempts,theorem_3_proven,theorem_3_attempts,theorem_4_proven,theorem_4_attempts,theorem_5_proven,theorem_5_attempts,theorem_6_proven,theorem_6_attempts
apps_id,,,,,,,,,,,,,,,,,,,,
4172,0,10,7,True,4,1,True,1.0,False,25.0,False,0.0,False,0.0,False,0.0,False,0.0,False,0.0
0282,0,10,5,True,3,1,False,25.0,True,9.0,False,0.0,False,0.0,False,0.0,NaN,NaN,NaN,NaN
1804,0,8,5,True,10,1,True,17.0,False,25.0,False,0.0,False,0.0,False,0.0,NaN,NaN,NaN,NaN
2459,0,5,4,True,9,1,True,13.0,False,10.0,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0077,0,7,5,True,6,1,True,3.0,False,25.0,False,0.0,False,0.0,False,0.0,NaN,NaN,NaN,NaN
1233,0,8,4,True,10,1,True,15.0,False,25.0,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3430,0,4,3,True,1,1,True,4.0,False,25.0,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
samples_with_proofs.describe()

,total_attempts_made,total_theorems_plus_defs,total_theorems,defs_attempts,theorem_0_attempts,theorem_1_attempts,theorem_2_attempts,theorem_3_attempts,theorem_4_attempts,theorem_5_attempts,theorem_6_attempts
count,7.0,7.000000,7.000000,7.000000,7.000000,7.000000,7.0,6.0,4.0,1.0,1.0
mean,0.0,7.428571,4.714286,6.142857,11.142857,20.571429,0.0,0.0,0.0,0.0,0.0
std,0.0,2.299068,1.253566,3.625308,8.802056,7.568733,0.0,0.0,0.0,NaN,NaN
min,0.0,4.000000,3.000000,1.000000,1.000000,9.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,6.000000,4.000000,3.500000,3.500000,17.500000,0.0,0.0,0.0,0.0,0.0
50%,0.0,8.000000,5.000000,6.000000,13.000000,25.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,9.000000,5.000000,9.500000,16.000000,25.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,10.000000,7.000000,10.000000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0

In [19]:
df.describe()

,total_attempts_made,total_theorems_plus_defs,total_theorems,defs_attempts,theorem_0_attempts,theorem_1_attempts,theorem_2_attempts,theorem_3_attempts,theorem_4_attempts,theorem_5_attempts,theorem_6_attempts
count,25.0,25.000000,25.000000,25.00000,24.000000,24.000000,23.0,16.0,8.0,2.0,1.0
mean,0.0,6.240000,3.920000,4.84000,15.750000,18.500000,0.0,0.0,0.0,0.0,0.0
std,0.0,1.877054,1.382027,5.67656,11.191029,10.615821,0.0,0.0,0.0,0.0,NaN
min,0.0,4.000000,0.000000,1.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,5.000000,3.000000,1.00000,2.500000,9.750000,0.0,0.0,0.0,0.0,0.0
50%,0.0,6.000000,4.000000,3.00000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,8.000000,5.000000,6.00000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,10.000000,7.000000,25.00000,25.000000,25.000000,0.0,0.0,0.0,0.0,0.0