In [1]:
from datasets import load_dataset

dataset = load_dataset("quinn-dougherty/fvapps", split="train")

# Collect Stats on Defs and Theorems

In [4]:
import pandas as pd

In [3]:
def theorem_counter(spec: str) -> int:
    """
    This function counts the number of theorems in the spec"""
    return spec.count("theorem")


def def_counter(spec: str) -> int:
    """
    This function counts the number of definitions in the spec"""
    return spec.count("def")


def total_count(spec: str) -> int:
    """
    This function counts the total number of statements in the spec"""
    return spec.count("def") + spec.count("theorem")

In [5]:
counts_data = []

for sample in dataset:
    sample_res = {}
    sample_res["theorem_count"] = theorem_counter(sample["spec"])
    sample_res["def_count"] = def_counter(sample["spec"])
    sample_res["total_count"] = total_count(sample["spec"])
    counts_data.append(sample_res)

counts_df = pd.DataFrame(counts_data)

In [6]:
counts_df.describe()

       theorem_count    def_count  total_count
count    1915.000000  1915.000000  1915.000000
mean        4.290339     1.895039     6.185379
std         1.487069     1.200379     1.938338
min         0.000000     0.000000     2.000000
25%         3.000000     1.000000     5.000000
50%         4.000000     2.000000     6.000000
75%         5.000000     2.000000     7.000000
max        17.000000    13.000000    18.000000