In [9]:
import pandas as pd
import json
from pathlib import Path
from benchmark.utils.metadata import read_preproc, read_python, read_lean

In [28]:
def collate_metadata(base_path: str) -> pd.DataFrame:
    """
    Collates metadata.json files across indices into a single pandas DataFrame.
    
    Parameters:
    base_path (str): Base path containing indexed directories with metadata.json files
    
    Returns:
    pandas.DataFrame: Table with metadata information across all indices
    """
    # Initialize lists to store data
    records = []
    
    # Iterate through all metadata.json files
    base_dir = Path(base_path)
    for idx_dir in sorted(base_dir.glob("*")):
        if not idx_dir.is_dir():
            continue

        preproc = read_preproc(idx_dir)
        python = read_preproc(idx_dir)
        lean = read_lean(idx_dir)

        # Create a flat record
        record = {
            "idx": idx_dir.name, 
            "preproc_loops": preproc["loops"],
            "python_loops": python["loops"], 
            "lean_loops": lean["loops"],
            "preproc_success": preproc["latest_run_success"],
            "python_success": python["latest_run_success"],
            "lean_success": lean["latest_run_success"]
        }
        records.append(record)
    
    # Create DataFrame
    return pd.DataFrame(records).set_index("idx")

In [29]:
up = Path("..")
path = up / up / up / "artefacts" / "apps" / "train"

In [30]:
df = collate_metadata(path)

In [31]:
df

,preproc_loops,python_loops,lean_loops,preproc_success,python_success,lean_success
idx,,,,,,
0000,0,0,1,True,True,True
0001,0,0,0,True,True,True
0002,0,0,5,True,True,True
0003,0,0,3,True,True,True
0004,0,0,1,True,True,True
0005,0,0,5,True,True,True
0006,0,0,3,True,True,True
0007,0,0,1,True,True,True
0008,0,0,1,True,True,True
0009,0,0,8,True,True,True
0010,0,0,1,True,True,True
0011,0,0,2,True,True,True
0012,0,0,1,True,True,True
0013,0,0,1,True,True,True
0014,0,0,0,True,True,True
0015,0,0,0,True,True,True
0016,0,0,0,True,True,True
0017,0,0,1,True,True,True
0018,1,1,3,True,True,True
0019,0,0,1,True,True,True
0020,0,0,3,True,True,True
0021,0,0,0,True,True,True
0022,0,0,2,True,True,True
0023,0,0,5,True,True,True
0024,0,0,3,True,True,True
0025,1,1,7,True,True,True
0026,0,0,0,True,True,True
0027,0,0,2,True,True,True
0028,0,0,3,True,True,True
0029,0,0,0,True,True,True
0030,0,0,1,True,True,True
0031,0,0,4,True,True,True
0032,2,2,0,True,True,True
0033,0,0,2,True,True,True
0034,4,4,0,True,True,True
0035,1,1,2,True,True,True
0036,0,0,0,True,True,True
0037,0,0,3,True,True,True
0038,0,0,0,True,True,True
0039,0,0,0,True,True,True
0040,5,5,0,False,False,False
0041,0,0,1,True,True,True
0042,0,0,0,True,True,True
0043,0,0,2,True,True,True
0044,0,0,2,True,True,True
0045,0,0,2,True,True,True
0046,1,1,2,True,True,True
0047,0,0,1,True,True,True
0048,0,0,1,True,True,True
0049,0,0,5,True,True,False
0500,0,0,0,True,True,False

In [32]:
df.mean()

preproc_loops      0.294118
python_loops       0.294118
lean_loops         1.784314
preproc_success    0.980392
python_success     0.980392
lean_success       0.941176
dtype: float64

In [33]:
df.sum()

preproc_loops      15
python_loops       15
lean_loops         91
preproc_success    50
python_success     50
lean_success       48
dtype: int64